.footer {
  background-color: #515151;
  padding: 21px;

  .wrapper {
    text-align: center;
  }

  .copyright {
    display: block;
    color: #cecece;
    font: 14px/25px "Open Sans", sans-serif;
  }
}