.header {
  width: 100%;
  z-index: 1;
  padding: 42px 0 20px;
  background-color: #fff;

  .wrapper {
    display: flex;
    justify-content: space-between;
  }

  .logo {
    padding-right: 20px;
    margin: 0;
    font: 700 37px/37px $main-font;

    a {
      display: inline-block;
      background: url("../images/logo.png") no-repeat;
      padding-left: 80px;
      color: #424242;
      font-weight: 700;

      img {
        margin-right: 10px;
      }
    }
  }

  span {
    display: block;
    color: #424242;
    font: 400 15px/15px $main-font;
  }

  .right-part-header {
    display: flex;
  }

  .header-button {
    display: block;
    align-self: center;
    padding: 12px 22px;
    background-color: #de2b24;
    border: none;
    border-radius: 4px;
    color: white;
    font: 700 15px/15px $main-font;
  }
}

.navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;

  li {
    position: relative;
    margin-left: 15px;
    display: flex;
    justify-content: center;

    &:first-child:before,
    &:last-child:before {
      display: none;
    }

    &:before {
      position: absolute;
      display: block;
      content: '';
      width: 5px;
      height: 5px;
      top: 50%;
      left: -8px;
      transform: translateY(-50%);
      border-radius: 50%;
      background-color: #424242;
    }

    &:hover a {
      color: #de2b24;
    }

    a {
      color: #424242;
      padding: 10px 15px;
      font: 700 15px/49px $main-font;

      &:hover {
        color: #de2b24;
      }
    }

    &.active {
      a {
        color: #de2b24;
      }
    }
  }
}

.header {

  .menu {

    ul {
      padding:0;
      margin:0;

      li {
        display: inline-block;
        float: left;
        list-style: none;
        padding: 0 0 0 5px;
        margin: 0;
      }
    }
  }

  .menuIcon {
    display: none;
    text-align: right;

    a {
      width: 50px;
      margin-top: 12px;
      display: inline-block;
      color: #fff;

      &:hover {
        cursor: pointer;
      }

      .fa {
        font-size: 20px;
        line-height: 34px;
        color: #000;
        vertical-align: middle;
      }
    }
  }
}

@media only screen and (max-width: 960px) {

  .header {

    .main-nav {
      width: 100%;
      position: absolute;
      top: 106px;
      margin-left: -15px;
      left: 15px;
      order: 1;
    }

    .menu {
      flex-direction: column;
      max-height: 0;
      overflow: hidden;
      float: none;
      text-align: center;
      width: 100%;
      transition: max-height 500ms;

      &.menuOpen {
        max-height: 1000px;
        transition: max-height 0.5s;
      }
    }

    .navigation {

      li {
        padding: 5px;
        margin: 0;
        width: 100%;
        background: rgba(255, 255, 255, 1);

        a {
          width: 100%;
          text-decoration: none;
          line-height: 25px;
        }
      }
    }

    .menuIcon {
      display: inline-block;
      order: 2;

      a {
        text-align: right;
      }
    }
  }
}