.top-header {
  background-color: #f0f2f4;
  box-shadow: 0 1px 0 #e2e2e2;

  .wrapper {
    display: flex;
    justify-content: flex-end;

    .content {
      display: flex;
      align-items: center;
    }
  }

  .facebook-icon-header {
    display: block;
    width: 26px;
    height: 26px;
    background-color: #1287bf;
    border-radius: 3px 2px 2px 3px;
    color: white;
    text-align: center;

    .fa {
      font-size: 16px;
      line-height: 26px;
    }
  }
}

.top-header-list {

  li {
    float: left;
    padding: 0 5px;
    line-height: 42px;

    &:first-child {
      border-left: none;
    }

    a {
      display: flex;
      align-items: center;
      color: #424242;
      font: 400 15px/42px $main-font;

      span:hover {
        text-decoration: underline;
      }

      .fa-mobile {
        margin-right: 10px;
        font-size: 24px;
      }

      .fa-envelope {
        margin-right: 8px;
        font-size: 19px;
      }
    }
  }

  &:after {
    clear: left;
    display: block;
    content: '';
  }
}

@media only screen and (min-width: 480px) {
  .top-header {
    .wrapper {

    }
  }
  .top-header-list {
    li {
      padding: 0 20px;
      border-left: 1px solid #e2e2e2;
    }
  }
}