.social-links {
  display: inline-block;

  li {
    float: left;
    margin: 0 10px;

    a {
      display: block;
      width: 49px;
      height: 49px;
      border-radius: 1px;
      border: 2px solid #515151;
      font-size: 14px;
      line-height: 24px;
      text-align: center;
      transition: 400ms;

      &:hover {
        border-color: red;
      }

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }

    }
  }

  .fa {
    color: #fff;
    font-size: 23px;
    line-height: 49px;
  }

  &:after {
    clear: both;
    display: block;
    content: '';
  }
}