.about {
  padding: 105px 0 95px;
  background: #222 url("../images/about-laptop.png") bottom right 15px no-repeat;

  .section-title {
    margin-bottom: 106px;
  }

  .description {
    margin-bottom: 64px;
    max-width: 490px;
    color: white;
    font: 400 16px/24px $main-font;
  }

  .own-icon {
    display: block;
    margin-right: 20px;
    min-width: 73px;
    width: 73px;
    height: 72px;
    background-color: white;
    border: 3px solid black;
    border-radius: 50%;
    color: #000;
    font-size: 38px;
    line-height: 65px;
    text-align: center;
  }
}

.features-list {
  li {
    display: flex;
    align-items: center;
    margin-bottom: 35px;

    &:last-child {
      margin-bottom: 0;
    }
  }
  h3 {
    color: white;
    font: 700 18px/26px $secondary-font;
  }
  p {
    color: white;
    font:16px/20px $main-font;
  }
}