.contact {
  background-color: #d11f2d;
  padding: 169px 0;

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section-description {
    margin-bottom: 70px;
    max-width: 920px;
  }
}

@media only screen and (min-width: 960px) {

}