.download {
  padding: 130px 0;
  background: url("../images/section-free.png") center center no-repeat;
  background-size: cover;

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .description {
    margin-bottom: 68px;
    max-width: 762px;
    font: 300 20px/36px $main-font;
    text-align: center;
  }

  .download-btn {
    width: 100%;
    border: 3px solid white;
    color: white;
    font: 30px/74px $main-font;
    text-align: center;
  }
}

@media only screen and (min-width: 480px) {
  .download {
    .download-btn {
      width: auto;
      max-width: 390px;
      padding: 0 84px;
    }
  }
}