.intro {
  padding: 106px 0;
  background-color: #fff;

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .section-title {
    margin-bottom: 100px;
  }

  .description {
    max-width: 762px;
    color: #222;
    font: 300 20px/36px $main-font;
    text-align: center;
  }
}