.team {
  background-color: #fff;
  padding: 100px 0;

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .section-title {
    margin-bottom: 90px;
  }

  .section-description {
    align-self: center;
    margin-bottom: 85px;
    max-width: 710px;
  }


}

.team-members {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .team-member {
    position: relative;
    width: 264px;

    &:last-child {
      height: 351px;
      background-color: white;
      border: 1px solid #222;
      display: flex;

      .content {
        margin: auto;
        display: flex;
        flex-direction: column;
      }
    }

    &:hover .overlay {
      display: block;
    }

    .overlay {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.4);
      transition: 400ms;

      .name {
        color: white;
        font: 400 23px/35px $main-font;
        text-align: center;
      }

      .job {
        display: block;
        margin-bottom: 22px;
        color: white;
        font: 18px/35px $main-font;
        text-align: center;
      }

      .overlay-content {
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
      }
    }
  }

  .team-image {
    line-height: 0;
    img {
      width: 100%;
    }
  }

  .hiring {
    padding: 40px 90px;
    color: #222;
    font: 23px/35px $main-font;
    text-align: center;
  }

  .apply-btn {
    margin: 0 auto;
    width: 179px;
    border: 3px solid #222;
    background-color: transparent;
    color: #222;
    font: 700 23px/53px $main-font;
  }
}

@media only screen and (min-width: 840px) {
  .team-members {
    justify-content: space-between;
  }
}