$main-font: "Lato", sans-serif;
$secondary-font: "Open Sans", sans-serif;

body {
  background-color: #fff;
  font-family: $main-font;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

input,
textarea{
  background-color: transparent;
  outline: none;
}

textarea {
  resize: none;
}

.section {
  padding: 90px 0 100px;
  position: relative;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: -100px;
    left: 0;
    width: 100vw;
    max-width: 100%;
    border-top: 100px solid transparent;
  }
}

.section-title {
  position: relative;
  color: black;
  font: 600 30px/60px $main-font;
  text-align: center;
  text-transform: uppercase;

  &:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    content: '';
    display: block;
    width: 100px;
    height: 2px;
    background-color: #d1d1d1;
  }
}

.light {
  color: #fff;
}

@media only screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}