.button {
  padding: 0 29px;
  background-color: black;
  color: white;
  font: 400 24px/38px $main-font;
  border-bottom: 3px solid #ffea00;
  text-align: center;
  transition: 400ms;

  &:hover {
    color: black;
    background-color: #ffea00;
    outline: none;
  }
  &:focus {
    outline: none;
    text-decoration: none;
  }
}

