.about {
  padding: 64px 0 50px;

  .content {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  article {
    display: flex;
    flex-direction: column;
    align-items: center;

    .about-image {
      width: 100%;
      margin-bottom: 20px;

      img {
        width: 100%;
      }
    }

    .article-content {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    h3 {
      margin-bottom: 27px;
      color: #504f50;
      font-size: 14px;
      font-weight: 700;
      line-height: 20px;
      text-transform: uppercase;

      &:after {
        content: '';
        width: 100px;
        height: 2px;
        background-color: #42ccdc;
        display: block;
        margin-top: 17px;
      }
    }

    p {
      margin-bottom: 30px;
      color: #a8a8a8;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
    }

    .button {
      padding: 5px 40px;
      color: white;
      font-size: 20px;
      font-weight: 700;
      line-height: 45px;
      text-transform: uppercase;
      background-color: #39c9da;
      border-radius: 3px;
      transition: 400ms;

      &:hover {
        background-color: #3ce3f4;
      }
    }
  }
}

@media screen and (min-width: 1024px){
  .about {
    padding: 64px 0 50px;

    .content {
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    article {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      flex-direction: row;

      .about-image {
        width: 49%;
        margin-bottom: 0;

        img {
          width: 100%;
        }
      }

      .article-content {
        width: 49%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }

      h3 {
        font-size: 14px;
        line-height: 20px;
      }

      p {
        font-size: 14px;
        line-height: 20px;
      }

      .button {
        padding: 5px 40px;
        font-size: 20px;
        border-radius: 3px;
      }
    }
  }
}