.contact {
  padding: 60px 0;
  background-color: #f4f4f4;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;

  .wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }

  .section-description {
    margin-bottom: 56px;
  }

  .contact-info {
    width: 100%;
    margin-bottom: 20px;

    .title {
      margin-bottom: 25px;
      color: #504f50;
      font-size: 14px;
      font-weight: 700;
      line-height: 20px;
      text-transform: uppercase;

      &:after {
        content: '';
        width: 100px;
        height: 2px;
        background-color: #42ccdc;
        display: block;
        margin-top: 17px;
      }
    }

    p {
      color: #a8a8a8;
      font-size: 14px;
      line-height: 20px;
    }
  }
}

@media screen and (min-width: 1024px) {
  .contact {
    padding: 60px 0;

    .wrapper {
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    .content {
      display: flex;
      align-items: flex-start;
      flex-direction: row;
      justify-content: space-between;
    }

    .section-description {
      margin-bottom: 56px;
    }

    .contact-info {
      width: 49%;
    }
  }
}