.contact-form {
  display: flex;
  width: 570px;

  ul {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  li {
    margin-bottom: 30px;
    width: 100%;
    display: flex;

    &:nth-child(1) {
      display: flex;
      justify-content: space-between;
      & > * {
        width: 270px;
      }
    }
    &:nth-child(4) {
      justify-content: flex-end;
    }
  }

  input,
  textarea {
    padding: 18px 15px;
    width: 100%;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    box-sizing: border-box;
  }

  textarea {

  }
}