.contact-form {
  display: flex;
  max-width: 570px;
  width: 100%;

  ul {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  li {
    margin-bottom: 20px;
    width: 100%;
    display: flex;

    &:nth-child(1) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      & > * {
        width: 100%;
      }
      input[type="text"] {
        margin-bottom: 20px;
      }
    }
    &:nth-child(4) {
      justify-content: flex-end;
    }
  }

  input,
  textarea {
    padding: 18px 15px;
    width: 100%;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    box-sizing: border-box;
    font-family: $main-font;

    &::placeholder {
      color: #c9c9c9;
      font-size: 14px;
      line-height: 15px;
    }
  }
}

@media screen and (min-width: 600px) {
  .contact-form {
    display: flex;
    max-width: 570px;
    width: 100%;

    ul {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    li {
      margin-bottom: 30px;
      width: 100%;
      display: flex;

      &:nth-child(1) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        & > * {
          width: 270px;
        }
        input[type="text"] {
          margin-bottom: 0;
        }
      }
      &:nth-child(4) {
        justify-content: flex-end;
      }
    }

    input,
    textarea {
      padding: 18px 15px;
      width: 100%;
    }

    textarea {
      height: 150px;
    }
  }
}