.hero {
  background-image: url('../images/layer-3.png');
  padding: 12px 0 100px;
  height: 532px;

  .content {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .wrapper {
    height: 100%;
  }

  .overlap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .main-title {
    max-width: 505px;
    margin-bottom: 40px;
    color: white;
    font-family: $main-font;
    font-size: 33px;
    font-weight: 700;
    line-height: 45px;
    text-align: center;
  }

  .cta-button {
    padding: 5px 40px;
    background-color: #39c9da;
    border-radius: 3px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    line-height: 45px;
    text-transform: uppercase;
    transition: 400ms;

    &:hover {
      background-color: #3ce3f4;
    }
  }
}