.portfolio {
  padding: 60px 0;
  background-color: #f4f4f4;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;

  .wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

.portfolio-examples {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .portfolio-item {
    min-width: 370px;
    margin-bottom: 40px;
    background-color: white;
    border: 1px solid #e8e8e8;
  }

  .item-description {
    padding: 26px 22px 22px 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    h3 {
      color: #504f50;
      font-size: 14px;
      font-weight: 700;
      line-height: 20px;
      text-transform: uppercase;
    }

    .description {
      color: #aba7ab;
      font-size: 12px;
      font-weight: 400;
      line-height: 20px;
      font-style: italic;
    }
  }

  .read-more {
    display: none;
  }
}