.services {
  padding: 26px 0 32px;

  .wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

.features-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;

  .feature {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 29px 20px 20px;
    width: 232px;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #e2e2e2;
    transition: 400ms;

    .fa {
      color: #39c9da;
      font-size: 33px;
      margin-bottom: 24px;
    }

    .feature-title {
      color: #504f50;
      font-size: 20px;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;

      &:after {
        content: '';
        width: 74px;
        height: 1px;
        background-color: #e2e2e2;
        display: block;
        margin: 0 auto;
        margin-top: 12px;
      }
    }

    .description {
      margin: 30px 0 28px;
      color: #504f50;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
    }

    .read-more {
      padding: 10px 30px;
      background-color: #4b4a4b;
      border-radius: 1px;
      color: white;
      font-size: 14px;
    }

    &:hover {
      background-color: #39c9da;

      .fa {
        color: #fff;
      }
      .feature-title {
        color: #fff;
      }
      .description {
        color: #fff;
      }
      .read-more {
        background-color: white;
        color: #323030;
      }
    }
  }
}

@media screen and (min-width: 480px) {

  .services {
    padding: 40px 0 52px;
  }

  .features-list {
    justify-content: space-around;

    .feature {
      width: 232px;

      .fa {
        font-size: 33px;
        margin-bottom: 24px;
      }

      .feature-title {
        font-size: 20px;
        font-weight: 700;
      }

      .description {
        margin: 30px 0 28px;
        font-size: 14px;
        line-height: 20px;
      }

      .read-more {
        padding: 10px 30px;
        font-size: 14px;
      }
    }
  }
}

@media screen and (min-width: 768px) {

  .services {
    padding: 50px 0 64px;
  }
  .features-list {

    .feature {
      width: 232px;

      .fa {
        font-size: 33px;
        margin-bottom: 24px;
      }

      .feature-title {
        font-size: 20px;
        font-weight: 700;
      }

      .description {
        margin: 30px 0 28px;
        font-size: 14px;
        line-height: 20px;
      }

      .read-more {
        padding: 10px 30px;
        font-size: 14px;
      }
    }
  }
}

@media screen and (min-width: 869px) {

  .services {
    padding: 50px 0 64px;
  }
  .features-list {
    justify-content: space-between;

    .feature {
      width: 232px;

      .fa {
        font-size: 33px;
        margin-bottom: 24px;
      }

      .feature-title {
        font-size: 20px;
        font-weight: 700;
      }

      .description {
        margin: 30px 0 28px;
        font-size: 14px;
        line-height: 20px;
      }

      .read-more {
        padding: 10px 30px;
        font-size: 14px;
      }
    }
  }
}

@media screen and (min-width: 1142px) {

  .features-list {

    .feature {
      margin-bottom: 0;

      .fa {
        font-size: 33px;
        margin-bottom: 24px;
      }

      .feature-title {
        font-size: 20px;

        &:after {
          content: '';
          width: 74px;
          height: 1px;
          display: block;
          margin: 0 auto;
          margin-top: 12px;
        }
      }

      .description {
        margin: 30px 0 28px;
        font-size: 14px;
        line-height: 20px;
      }

      .read-more {
        padding: 10px 30px;
        font-size: 14px;
      }
    }
  }
}