.contact-form {
  display: flex;
  width: 100%;

  ul {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  li {
    position: relative;
    margin-bottom: 20px;
    width: 100%;

    &:nth-child(1) {
      display: flex;

      input[type="text"] {
        margin-bottom: 20px;
      }
    }
  }

  input,
  textarea {
    padding: 18px 15px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #dce3e8;
    box-sizing: border-box;
    font-family: $main-font;
  }
}

input[required] + label,
textarea[required] + label{
  position: absolute;
  left: 0;
  top: 0;
  padding: 15px 20px;
  color: #737476;
  font: 14px/24px $main-font;
}

input[required] + label:after,
textarea[required] + label:after {
  content:'*';
  color: #ffaf36;
}

input[required]:invalid + label,
textarea[required]:invalid + label {
  display: inline-block;
}

input[required]:valid + label,
textarea[required]:valid + label {
  display: none;
}
