.read-more-btn {
  display: inline-block;
  position: relative;
  padding: 0 6px 0 20px;
  height: 25px;
  color: #009aff;
  font: 12px/23px $main-font;
  border: 1px solid #009aff;
  border-right: none;

  &:before,
  &:after {
    position: absolute;
    content: '';
    display: block;
    top:0;
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-left: 14px solid;
    border-bottom: 12px solid transparent;
  }

  &:before {
    right: -14px;
    border-left-color: #009aff;
  }

  &:after {
    right: -13px;
    border-left-color: #fff;
  }

  &:hover {
    color: #fff;
    background-color: #009aff;

    &:after {
      border-left-color: #009aff;
    }
  }
}

.sign-up-btn {
  margin-bottom: 36px;
  display: inline-block;
  width: 168px;
  background-color: black;
  color: white;
  font:700 16px/45px $main-font;
  text-transform: uppercase;
  transition: 400ms;

  &:hover {
    background-color: white;
    color: black;
  }
}