.social-links {
  display: inline-block;

  li {
    float: left;
    margin: 0 9px;

    a {
      display: block;
      font-size: 14px;
      line-height: 39px;
      text-align: center;
      transition: 400ms;

      &:hover {

        .fa {
          color: #fff;
        }
      }
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .fa {
    color: #94abc3;
  }

  &:after {
    clear: both;
    display: block;
    content: '';
  }
}