@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Droid+Sans:400,700');

$main-font: "Quicksand", sans-serif;
$secondary-font: "Droid Sans", sans-serif;

$primary-color: #ff5959;
$secondary-color: #e8e8e8;


body {
  background-color: #fff;
  font-family: $main-font;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

h3 {
  color: black;
  font: 400 24px/30px $main-font;
}

p {
  color: black;
  font: 400 13px/18px $main-font;
}

input,
textarea{
  background-color: transparent;
  outline: none;
}

textarea {
  resize: none;
}

.wrapper {
  padding: 0 15px;
  max-width: 1200px;
  margin: 0 auto;
}

.section {
  padding: 54px 0 100px;
}

.section-title {
  position: relative;
  max-width: 370px;
  margin: 0 auto 60px;
  padding-bottom: 18px;
  color: black;
  font: 30px/49px $main-font;
  text-align: center;
  background-position: bottom;
  background-size: 100% 1px;
  background-repeat: repeat-x;
  background-image: repeating-linear-gradient(-90deg, #000 0, #000 46%, transparent 46%, transparent 54%);

  &:before {
    display: block;
    content: '';
    width: 6px;
    height: 0;
    border-color: #000 transparent;
    border-style: solid;
    border-width: 0 2px 4px;
    position: absolute;
    top: 64px;
    left: 50%;
    transform: translateX(-50%);
  }

  &:after {
    display: block;
    position: absolute;
    content: "";
    top: 68px;
    left: 50%;
    transform: translateX(-50%);
    height: 0;
    width: 0;
    border-width: 2px 3px 0;
    border-style: solid;
    border-color: #000 transparent transparent;
  }
}

.section-title-white {
  color: #fff;
  background-image: repeating-linear-gradient(-90deg, #fff 0, #fff 46%, transparent 46%, transparent 54%);

  &:before {
    border-color: #fff transparent;
  }

  &:after {
    border-color: #fff transparent transparent;
  }
}