.social-links {
  display: inline-block;

  li {
    float: left;
    margin: 0 10px;

    a {
      display: block;
      width: 44px;
      height: 44px;
      border-radius: 50%;
      background-color: #717171;
      font-size: 20px;
      line-height: 44px;
      text-align: center;
      transition: 400ms;

      &:hover {
        background-color: #e7434e;
      }
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .fa {
    color: #fff;
    font-size: 20px;
    line-height: 30px;
  }

  &:after {
    clear: both;
    display: block;
    content: '';
  }
}