.footer {
  padding: 64px 0 70px;
  border-top: 6px solid #e7434e;
  background-color: #404040;
}

.footer-title {
  color: white;
  font: 700 14px/22px $secondary-font;
  text-transform: uppercase;
}