.footer {
  padding: 64px 0 70px;
  border-top: 6px solid #e7434e;
  background-color: #404040;
}

.footer-title {
  margin-bottom: 20px;
  color: white;
  font: 700 14px/22px $secondary-font;
  text-transform: uppercase;
}

.footer-navigation {
  li {
    a {
      color: white;
      font: 400 14px/34px $main-font;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.footer-form {
  position: relative;
  margin-bottom: 26px;

  .email-field {

    input {
      padding: 0 60px 0 14px;
      width: 100%;
      background-color: white;
      border-radius: 5px;
      border: none;
      line-height: 42px;

      &::placeholder {
        color: #717171;
        font: 400 14px/42px $main-font;
      }
    }
  }

  .submit-btn {
    position: absolute;
    top: 0;
    right: 0;

    button {
      width: 104px;
      height: 42px;
      border: 1px solid #e7434e;
      background-color: #e7434e;
      border-radius: 0 5px 5px 0;
      color: white;
      font: 400 14px/40px $main-font;
      transition: 400ms;

      &:hover {
        border: 1px solid #fff;
        border-left: none;
      }
    }
  }
}

.footer-wrap {
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .footer-form .submit-btn button {
    width: 146px;
  }
}