.blog {
  background-color: #ececec;

  .section-title {
    margin-bottom: 46px;
  }
}

.article-wrapper {
  margin-bottom: 30px;
}

.single-article {
  background-color: white;
  border-radius: 10px 9px 9px 10px;

  .article-info {
    padding: 0 15px;
  }

  .article-title {
    color: black;
    font: 700 18px/60px $main-font;
  }

  p {
    color: dimgrey;
    font: 16px/30px $main-font;
  }
}

.article-image {
  width: 100%;

  img {
    width: 100%;
  }
}

.article-footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #d9d9d9;
  padding: 14px 15px 18px;
  color: #595858;
  font: 700 14px/24px $main-font;

  div {
    display: flex;
  }

  .own-icon {
    margin-right: 8px;
    width: auto;
    height: auto;
    color: #7c7c7c;
    font-size: 24px;
    line-height: 24px;
  }
}

@media only screen and (min-width: 1200px) {
  .stamp {
    position: absolute;
    top: 30px;
  }

  .stamp1 {
    left: 25%;
  }

  .stamp2 {
    left: 50%;
  }
}