.hero {
  background: #ececec url("../images/bg-hero.png") center center no-repeat;
  background-size: cover;
  margin-top: 0;
  padding: 0 0 190px 0;
  height: 800px;

  .hero-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}

.hero-information {
  display: flex;
  align-items: center;
  flex-direction: column;

  .main-title {
    display: block;
    text-align: center;
  }

  .description {
    max-width: 680px;
    color: white;
    font: 44px/60px $main-font;
    font-style: italic;
    text-transform: uppercase;
    text-align: center;
  }
}