.services {
  background: #ececec url("../images/bg-services.png") center center no-repeat;
  background-size: cover;
  padding-top: 150px;

  &:before {
    top: 0;
    border-top: 102px solid white;
    border-left: 49vw solid transparent;
    border-right: 49vw solid transparent;
  }
}

.service-list {

  li {
    display: flex;
    flex-direction: column;
    align-items: center;

    .image {
      margin-top: 36px;
    }

    a {
      color: #fff;
      font: 500 18px/28px "Raleway", sans-serif;
    }

    .own-icon {
      font-size: 44px;
    }
  }
}

@media only screen and (min-width: 992px) {

  .service-list {

    li {

      .image {
        margin-top: 12px;
      }

      .middle-service {
        margin-top: 86px;
      }
    }
  }
}