.button {
  display: inline-block;
  min-width: 170px;
  padding: 10px 10px 14px 10px;
  border-radius: 9px;
  border: 3px solid #ff5959;
  background-color: transparent;
  color: $primary-color;
  font: 700 18px/18px $secondary-font;
  text-transform: uppercase;
  text-align: center;
  transition: 400ms;

  &:hover {
    color: #fff;
    background-color: $primary-color;
  }
}

.button-search {
  background-color: #ffaf36;
  transition: 400ms;

  &:hover {

    .fa {
      color: #fff;
    }
  }
}
