.news {
  background-color: $primary-color;
}

.news-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .single-news {
    max-width: 550px;
    margin-bottom: 20px;
    color: #fff;

    img {
      width: 100%;
      margin-bottom: 10px;
    }

    .news-title {
      margin-bottom: 8px;
      font: 700 18px/24px $main-font;

      a {
        color: #fff;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .publish-date {
      display: block;
      margin-bottom: 10px;
      font: 300 13px/24px $main-font;

      .fa {
        margin-right: 6px;
      }
    }

    .information {
      margin-bottom: 6px;
      color: #fff;
    }

    .author,
    .number-comments{
      color: white;
      font: 400 13px/24px $main-font;

      .fa {
        margin-right: 14px;
        font-size: 16px;
      }
    }

    .author {
      margin-right: 36px;
    }
  }
}

@media only screen and (min-width: 810px) {
  .news-list {
    .single-news {
      max-width: 370px;
    }
  }
}

@media only screen and (min-width: 1170px) {
  .news-list {
    justify-content: space-between;
  }
}