.error{
  height: 100vh;

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
}

.error-info {

  h2 {
    margin: 0 auto;
    max-width: 450px;
    color: #000;
    font: 300 72px/72px $main-font;
    text-transform: uppercase;
    text-align: center;

    span {
      color: #36a8ff;
      font-weight: 700;
    }
  }

  p {
    margin: 30px auto 0;
    padding: 2px;
    max-width: 500px;
    border-radius: 25px;
    background-color: #ffaf36;
    color: #1c1c1c;
    font: 300 12px/24px 'Raleway', sans-serif;
    text-transform: uppercase;
    text-align: center;
  }
}