.faq-section {

  .section-description {
    margin-bottom: 44px;
  }
}


.faq-list {
  column-count: 1;
  counter-reset: item;

  .single-faq {
    margin-bottom: 24px;
    padding: 8px 0 8px 50px;
    position: relative;

    &:last-child {
      margin-bottom: 0;
    }

    .rhombus {
      display: block;
      position: absolute;
      top: 5px;
      left: 5px;
      width: 25px;
      height: 25px;
      background-color: #ffaf36;
      transform: rotate(45deg);

      .number {
        display: block;
        font: 700 13px/25px $main-font;
        text-transform: uppercase;
        text-align: center;
        transform: rotate(-45deg);
        color: #1c1c1c;
      }
    }
  }
}


.search-section {
  background-color: #eaeff3;
  padding-bottom: 0;
  text-align: center;

  .container {
    background: url("../images/triangles.png") right 15px bottom no-repeat;
    padding-bottom: 110px;
  }

  .description {
    margin-bottom: 24px;
    color: #1c1c1c;
    font: 16px/30px 'Lora', sans-serif;
    font-style: italic;
  }

  .search-form {
    margin-bottom: 60px;

    li {

      input,
      .button-search {
        border: none;
      }

      input {
        position: relative;
        width: 100%;
        padding: 13px 27px;
        font: 14px/19px $main-font;
        font-size: 14px;
        line-height: 19px;
        border: 1px solid #e0e7ec;
        background-color: #fff;
      }

      .button-search {
        position: absolute;
        right: 15px;
        top: 0;
        width: 47px;
        height: 47px;
      }
    }
  }
}

@media only screen and (min-width: 990px) {

  .faq-list {
    column-count: 2;

    .single-faq {
      margin-bottom: 54px;
      padding: 8px 54px;
    }
  }

}