.partners {
  padding-bottom: 0;

  .wrapper {
    background: url("../../images/triangles.png") right 15px bottom no-repeat;
    padding-bottom: 138px;
  }

  .section-description {
    margin-bottom: 36px;
  }
}

.partners-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 124px;
  border: 1px solid #eaeff3;

  li.partner {
    width: 180px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #eaeff3;

    &:last-child {
      border-right: none;
    }
  }
}