@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

$main-font: "Open Sans", sans-serif;
$secondary-font: "Montserrat", sans-serif;

body {
  background-color: #fff;
  font-family: $main-font;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

input,
textarea{
  background-color: transparent;
  outline: none;
}

textarea {
  resize: none;
}

.wrapper {
  padding: 0 15px;
  max-width: 1170px;
  margin: 0 auto;
}

.container {
  max-width: 1170px;
}

.section-title {
  color: #222;
  font: 40px/60px $main-font;
  text-align: center;
}

.section-description {
  color: #222;
  font: 20px/40px $main-font;
  text-align: center;
}

.light {
  color: #fff;
}