@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?1w3s88');
  src:  url('../fonts/icomoon.eot?1w3s88#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?1w3s88') format('truetype'),
  url('../fonts/icomoon.woff?1w3s88') format('woff'),
  url('../fonts/icomoon.svg?1w3s88#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.own-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Icon-Basket:before {
  content: "\e900";
}
.icon-Icon-Laptop:before {
  content: "\e901";
}
.icon-Icon-Locked:before {
  content: "\e902";
}
.icon-Basket:before {
  content: "\e903";
}
.icon-behance:before {
  content: "\e904";
}
.icon-close:before {
  content: "\e905";
}
.icon-code:before {
  content: "\e906";
}
.icon-dribbble:before {
  content: "\e907";
}
.icon-expand:before {
  content: "\e908";
}
.icon-facebook:before {
  content: "\e909";
}
.icon-Laptop:before {
  content: "\e90a";
}
.icon-leaf:before {
  content: "\e90b";
}
.icon-Locked:before {
  content: "\e90c";
}
.icon-menu:before {
  content: "\e90d";
}
.icon-mustache:before {
  content: "\e90e";
}
.icon-pencil:before {
  content: "\e90f";
}
.icon-pinterest:before {
  content: "\e910";
}
.icon-tablet:before {
  content: "\e911";
}
.icon-zoom-plus:before {
  content: "\e912";
}

// Helvetica Neue Font

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/HelveticaNeueCyr-Heavy.eot');
  src: url('../fonts/HelveticaNeueCyr-Heavy.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HelveticaNeueCyr-Heavy.woff') format('woff'),
  url('../fonts/HelveticaNeueCyr-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/HelveticaNeueCyr-Thin.eot');
  src: url('../fonts/HelveticaNeueCyr-Thin.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HelveticaNeueCyr-Thin.woff') format('woff'),
  url('../fonts/HelveticaNeueCyr-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/HelveticaNeueCyr-Light.eot');
  src: url('../fonts/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HelveticaNeueCyr-Light.woff') format('woff'),
  url('../fonts/HelveticaNeueCyr-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/HelveticaNeueCyr-Medium.eot');
  src: url('../fonts/HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HelveticaNeueCyr-Medium.woff') format('woff'),
  url('../fonts/HelveticaNeueCyr-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/HelveticaNeueCyr-Bold.eot');
  src: url('../fonts/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HelveticaNeueCyr-Bold.woff') format('woff'),
  url('../fonts/HelveticaNeueCyr-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/HelveticaNeueCyr-UltraLight.eot');
  src: url('../fonts/HelveticaNeueCyr-UltraLight.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HelveticaNeueCyr-UltraLight.woff') format('woff'),
  url('../fonts/HelveticaNeueCyr-UltraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/HelveticaNeueCyr-Black.eot');
  src: url('../fonts/HelveticaNeueCyr-Black.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HelveticaNeueCyr-Black.woff') format('woff'),
  url('../fonts/HelveticaNeueCyr-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}