.newsletter {
  background-color: #2a2a2a;
  padding: 84px 0;

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .section-title {
    margin-bottom: 28px;
    color: white;
    font: 700 29px/29px $main-font;
  }

  .social-links {
    margin-bottom: 34px;
  }

  p {
    margin-bottom: 30px;
    color: #cecece;
    font: 400 14px/22px $secondary-font;
  }

  .contact-form {
    li {
      max-width: 683px;
    }
    input {
      background-color: #515151;
      border: none;
      border-radius: 1px;
      color: #cecece;
      font: 14px/22px $secondary-font;
    }
  }
}