.portfolio {
  background-color: #de2b24;
}

.portfolio-images {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-item {
  position: relative;
  width: 100%;

  &:hover {
    .overlay {
      display: block;
    }
  }

  img {
    width: 100%;
    height: 100%;
  }

  .overlay {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    color: #fff;
    background-color: #f35e59;
    font: 700 26px/26px $main-font;

    .description {
      color: #fff;
      font-size: 16px;
    }

    .project-link {
      display: block;
      margin-bottom: 20px;
      color: #fff;
      transition: 400ms;

      .fa {
        font-size: 36px;
      }

      &:hover {
        opacity: 0.5;
      }
    }
  }
}

.overlay-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h3 {
    color: #fff;
  }
}

@media only screen and (min-width: 520px) {
  .portfolio-item {
    width: 50%;
  }
}

@media only screen and (min-width: 768px) {
  .portfolio-item {
    width: calc(100% / 3);
  }
}

@media only screen and (min-width: 960px) {
  .portfolio-item {
    width: calc(100% / 4);
  }
}