.button {
  padding: 10px 20px;
  width: 250px;
  background-color: #0f13ff;
  border: 2px solid #0f13ff;
  border-radius: 6px;
  color: white;
  font: 600 18px/28px $secondary-font;
  text-align: center;
  outline: none;
}

.active {
  background-color: white;
  color: #0f13ff;
}

.black-color {
  color: black;
}

.border-new {
  border-color: #fff;
}