.footer {
  position: relative;
  background-color: #204359;
  padding: 43px 0 26px;
  border-top: 1px solid #4a627c;

  .top-btn {
    position: absolute;
    display: block;
    width: 45px;
    height: 52px;
    left: 50%;
    top: -35%;
    transform: translateX(-50%);
    background-color: #fc0;
    color: #fff;
    text-align: center;

    .fa {
      font-size: 21px;
      line-height: 52px;
    }
  }

  .copyright {
    display: block;
    color: #748ca5;
    font: 11px/11px $secondary-font;
    text-transform: uppercase;
    text-align: center;
  }
}