.footer {
  background-color: #000;
  padding: 26px 0;

  .footer-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .copyright {
    margin-bottom: 10px;
    display: block;
    color: white;
    font: 400 14px/18px $main-font;
    text-align: center;
  }

  .footer-links {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    li {
      margin: 0 5px;

      a {
        color: white;
        font: 300 16px/18px $secondary-font;
        text-transform: uppercase;

        &:hover {
          text-decoration: underline;
        }
      }

    }
  }
}

@media only screen and (min-width: 1200px) {
  .footer {
    .footer-content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .copyright {
      margin-bottom: 0;
    }
    .footer-links {
      width: auto;
      justify-content: flex-end;
      li {
        margin-left: 80px;
        margin-right: 0;
      }
    }
  }
}