.pre-footer {
  background-color: #414146;
  padding: 30px 0;

  p {
    color: white;
    font: 400 13px/21px $main-font;
  }
}

.footer-title {
  margin-bottom: 18px;
  color: white;
  font: 400 18px/32px $main-font;
}

.footer-wrap {
  display: flex;
  flex-wrap: wrap;
}

// About us

.footer-wrap-about {
  max-width: 402px;
}

// photo stream

.flickr_badge_image {
  margin:0;
  display:inline;
}
.flickr_badge_image img {
  border: none !important;
  padding:0;
  margin: 2.5px;
}
#flickr_badge_wrapper {
  width:402px;
  text-align:left;
}

.footer-wrap-twitter {
  max-width: 436px;
}

// contact

.footer-wrap-contact {
  max-width: 317px;
}

.contact-list {

  li {
    display: flex;
    margin-bottom: 20px;

    a:hover {
      text-decoration: underline;
    }

    p {
      max-width: 246px;
    }

    p,
    a {
      color: white;
      font: 13px/21px $main-font;
    }

    .yellow-link {
      color: #ffea00;
    }
  }

  .links {
    margin-left: 5px;

    a {
      display: block;
    }
  }


  .fa {
    display: block;
    margin-right: 16px;
    width: 30px;
    height: 30px;
    background-color: black;
    color: #fff;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    transition: 400ms;
    &:hover {
      background-color: white;
      color: black;
    }
  }
}

.footer-form {
  margin-bottom: 26px;

  ul {
    display: flex;
  }

  .email-field {
    width: 100%;

    input {
      padding: 0;
      width: 100%;
      border: none;
      border-bottom: 2px solid #ffea00;
      background-color: transparent;
      font: 14px/26px $secondary-font;
      color: #fff;
    }
  }

  .submit-btn {

    button {
      width: 28px;
      height: 28px;
      background-color: black;
      border: none;

      .fa {
        color: #fff;
        font-size: 17px;
        line-height: 24px;
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  .footer-wrap {
    justify-content: space-between;
  }
}