$main-font: "gothic", sans-serif;
$secondary-font: "Source Code Pro", sans-serif;

body {
  background-color: #f6f6f6;
  font-family: $main-font;
  box-sizing: border-box;
}

.container:before,
.container:after {
  display: none;
}

.container {
  max-width: 1394px;
}

*, *:before, *:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

input,
textarea{
  background-color: transparent;
  outline: none;
}

textarea {
  resize: none;
}

.section-title {
  margin-bottom: 28px;
  display: flex;
  align-items: center;
  color: #ffea00;
  font: 400 18px/31px $main-font;
  text-transform: uppercase;

  .title {
    display: block;
    margin: 0 30px;
    width: 159px;
    background-color: #424147;
    text-align: center;
  }
  &:before,
  &:after {
    content: '';
    display: block;
    width: calc((100% - 199px) / 2);
    height: 1px;
    background-color: gray;
  }
}

.section-description {
  margin-bottom: 38px;
  color: #424146;
  font: 400 16px/21px $main-font ;
  text-align: center;
}

@media only screen and (min-width: 1230px) {
  .container {
    width: 1200px;
  }
}


@media only screen and (min-width: 1320px) {
  .container {
    width: 1290px;
  }
}

@media only screen and (min-width: 1424px) {
  .container {
    width: 1394px;
  }
}

