.clients {
  padding-bottom: 120px;
}

.clients-list {
  padding: 0 60px;

  .single-client {

    .client {
      display: block;
      overflow: hidden;
      width: 140px;
      height: 65px;
      margin: 0 auto;
    }

    img {
      width: 100%;
    }
  }

  .slick-dots {
    button {
      display: none;
    }
  }

  .slick-arrow {
    position: absolute;
    width: 46px;
    height: 65px;
    top:0;
    background-color: black;
    border: none;
    outline: none;
    font-size: 0;

    &:before {
      font-family: icomoon, sans-serif;
      display: block;
      color: #fff;
      font-size: 30px;
      line-height: 30px;
    }

    &:hover:before {
      color: #ffea00;
    }
  }

  .slick-prev {
    left: 0;

    &:before {
      content: '\e900';
    }
  }

  .slick-next {
    right: 0;

    &:before {
      content: '\e901';
    }
  }
}