.about {
  background-color: #fff;

  .about-information {
    margin-top: -7px;
    margin-bottom: 25px;
    color: #585858;
    font: 14px/28px $main-font;
  }

  .button {
    color: #fff;

    &:hover {
      background-color: #3ce3f4;
    }
  }
}