.clients {

  .section-description {
    margin-bottom: 20px;
  }
}

.clients-list {

  .client {
    padding-top: 24px;

    .client-point {
      margin-bottom: 38px;
      color: #585858;
      font: 14px/28px $main-font;
    }

    .info {
      display: flex;
      height: 68px;
      flex-direction: column;
      justify-content: center;
    }

    .client-name {
      color: #1c1c1c;
      font: 700 14px/24px 'Raleway', sans-serif;
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    .designation {
      color: #585858;
      font: 14px/28px $main-font;
    }
  }

  .client-1 {
    background: url("images/quote-icon1-home.png") 15px 0 no-repeat;
  }

  .client-2 {
    background: url("images/quote-icon2-home.png") 15px 0 no-repeat;
  }

  .client-3 {
    background: url("images/quote-icon3-home.png") 15px 0 no-repeat;
  }

  .slick-dots {
    margin-left: 15px;
  }
}