.hero {
  height: 100vh;

  .slide-content {
    height: 100%;
  }

  .slide-content-1 {
    background: url('images/bg-image-slider.png') no-repeat;
    background-size: cover;
  }

  .slide-content-2 {
    background: url('images/bg-image-slider.png') no-repeat;
    background-size: cover;
  }

  .slide-content-3 {
    background: url('images/bg-image-slider.png') no-repeat;
    background-size: cover;
  }

  .fade_slide {
    height: 100%;
  }

  .slick-dots {
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);

    li {
      float: left;
      margin-left: 12px;
      width: 25px;
      height: 4px;
      border-radius: 0;
      background-color: #8f8f8f;
      cursor: pointer;

      &:first-child {
        margin-left: 0;
      }

      &.slick-active {
        background-color: #ffaf36;
      }

      button {
        display: none;
      }
    }
  }

  .hero-content {
    padding-top: 85px;
    display: flex;
    align-items: center;
    height: 100%;
  }

  .content {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }

  .wrapper {
    height: 100%;
  }

  .overlap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  span {
    color: white;
    letter-spacing: 2px;
    font: 600 16px/24px 'Raleway', sans-serif;
    text-transform: uppercase;
  }

  .main-title {
    color: white;
    font: 700 60px/60px 'Raleway', sans-serif;
    text-transform: uppercase;
  }

  .description {
    margin-bottom: 55px;
    max-width: 508px;
    color: white;
    font: 15px/30px 'Lora', sans-serif;
    font-style: italic;
  }

  .cta-button {
    color: #1c1c1c;
    background-color: #ffaf36;

    &:hover {
      background-color: transparent;
      color: #ffaf36;
    }
  }
}