@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Lora:400,400i');

$main-font: "Open Sans", sans-serif;

body {
  background-color: #fff;
  font-family: $main-font;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

h3 {
  color: #1c1c1c;
  font: 700 16px/24px 'Raleway', sans-serif;
  text-transform: uppercase;
}

p {
  color: #585858;
  font: 400 14px/28px $main-font;
}

input,
textarea{
  background-color: transparent;
  outline: none;
}

textarea {
  resize: none;
}

.wrapper {
  padding: 0 15px;
  max-width: 1170px;
  margin: 0 auto;
}

.section {
  padding: 98px 0;
}

.section-title {
  color: #1c1c1c;
  font: 800 30px/24px 'Raleway', sans-serif;
  text-transform: uppercase;
}

.section-description {
  color: #1c1c1c;
  font: 16px/30px 'Lora', sans-serif;
  font-style: italic;
}

.link-call {
  color: #fff;
  vertical-align: middle;
  font: 600 14px/24px 'Open Sans', sans-serif;
  text-transform: uppercase;

  &:hover {
    color: #ffaf36;
  }

  img {
    margin-right: 6px;
    vertical-align: middle;
  }
}