.hero {
  background: url("../images/hero-banner.png") center center no-repeat;
  background-size: cover;
  height: 100vh;

  .hero-content {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.95;
    background-color: #222;
    height: 100%;
  }
}

.hero-information {
  display: flex;
  flex-direction: column;

  .main-title {
    opacity: 0.9;
    color: white;
    font: 700 40px/70px $main-font;
    text-transform: uppercase;
    text-align: center;
  }

  .description {
    max-width: 590px;
    color: white;
    font: 18px/24px $main-font;
    text-align: center;
  }
}

@media only screen and (min-width: 640px) {

}

@media only screen and (min-width: 800px) {

}