.services {
  background-color: #d11f2d;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  .single-service {
    text-align: center;
    margin-bottom: 30px;
    max-width: 351px;
    padding: 0 15px;

    &:last-child {
      margin-bottom: 0;
    }

    img {
      max-width: 200px;
      margin-bottom: 10px;
    }

    h3 {
      margin-bottom: 25px;
    }
  }
}

@media only screen and (min-width: 800px) {

}