.team {
  background-color: #fff;
  padding: 100px 0;

  .section-title {
    margin-bottom: 90px;
  }

  .section-description {
    margin: 0 auto;
    max-width: 710px;
  }
}

.team-members {
  display: flex;
  flex-wrap: wrap;

  .team-member {


  }

  .team-image {

  }
}

@media only screen and (min-width: 850px) {

}