.footer {
  padding: 83px 0 79px;
  background-color: #2a2b2c;

  .footer-main-info {
    padding-top: 40px;
    padding-bottom: 15px;

    .footer-logo {
      display: block;
      margin-bottom: 18px;
    }
  }

  .copyright {
    display: block;
    margin-bottom: 32px;
    color: #8e8e8e;
    font: 600 13px/24px 'Open Sans', sans-serif;
    text-transform: uppercase;
  }
}

.footer-social-links {

  li {
    display: inline-block;
    width: 29px;
    height: 29px;
    border: 1px solid #373839;

    a {
      display: block;
      line-height: 11px;
      text-align: center;
      transition: 300ms;

      &:hover {
        .fa {
          color: #fff;
        }
      }

      &.facebook-icon:hover {
        background-color: #3b5998;
      }

      &.twitter-icon:hover {
        background-color: #55acee;
      }

      &.google-icon:hover {
        background-color: #dd4b39;
      }

      &.linked-icon:hover {
        background-color: #0976b4;
      }
    }
  }

  .fa {
    color: #8a8a8a;
    font-size: 15px;
    line-height: 29px;
  }
}

.footer-title {
  margin-bottom: 35px;
  color: white;
  font: 700 18px/18px 'Raleway', sans-serif;
  text-transform: uppercase;
}

.footer-nav {
  padding-bottom: 15px;
}

.footer-navigation {
  margin-top: -15px;

  li {
    border-bottom: 1px solid #373839;

    &:hover a {
      color: #fff;
    }

    a {
      display: block;
      color: #7b7b7c;
      font: 600 13px/37px $main-font;
      text-transform: uppercase;
    }

    .fa {
      margin-right: 20px;
      color: #ffaf36;
      font-size: 12px;
    }
  }
}

.footer-contact {

  input,
  textarea {
    border: 1px solid #373839;
    color: #fff;
  }

  input {
    width: 100%;
    padding: 15px 20px;
  }

  textarea {
    margin-bottom: 10px;
    padding: 15px 20px;
    width: 100%;
    height: 97px;
    border-top: none;
    line-height: 24px;
  }

  textarea[required] + label{
    padding: 15px 20px;
  }

  .footer-form {

    li {
      position: relative;
      display: flex;

      &:first-child {
        border-right: none;
        float: left;
        width: 50%;
      }
    }
  }
}