.hero-404 {
  height: 395px;
  background: url('../images/bg-404.png') center center no-repeat;
}

.hero-blog {
  height: 395px;
  background: url('../images/bg-blog-page.png') center center no-repeat;
}

.hero-testimonials {
  height: 395px;
  background: url('../images/bg-testimonials.png') center center no-repeat;
}

.hero-contact {
  height: 395px;
  background: url('../images/bg-contact-us.png') center center no-repeat;
}