.social-links {
  display: inline-block;

  li {
    float: left;
    margin: 0 5px;

    a {
      display: block;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      font-size: 18px;
      line-height: 40px;
      text-align: center;

      &.facebook-icon {
        background-color: #205b9f;
      }

      &.twitter-icon {
        background-color: #00ace3;
      }

      &.google-icon {
        background-color: #ff3921;
      }

      &:hover {
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.2);
      }

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }

    }
  }

  .fa {
    color: #fff;
  }
  &:after {
    clear: both;
    display: block;
    content: '';
  }
}